* {
  cursor: url('https://cdn.cursors-4u.net/previews/pink-strawberry-7172caa9-32.webp') 32 32, auto !important;
}
html{
    overflow: hidden;
}
body{
    background-image: url('https://neocitiesimage.carrd.co/assets/images/image34.jpg?v=95b7680e');
    background-attachment: fixed;
    background-repeat: repeat;
    overflow: hidden;
    margin: 0;
}
@font-face {
font-family:'mkpop';
src: url(https://dl.dropbox.com/s/tqk43iocmy15y4m/851MkPOP_100%20%281%29.ttf);
}
@font-face {
src: url(https://dl.dropbox.com/s/0yg7g2z7st9k0xg/Willond.ttf);
font-family: willond;
}
.header{
    background-image: url('https://media.tumblr.com/tumblr_lszm1fhDRM1ql1l0v.gif');
    background-repeat: repeat-x;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    width: 100%;
    height: 100px;
}
.postcard{
    background-image: url('https://secretmmm.carrd.co/assets/images/image14.jpg?v=cd442578');
    background-size: cover;
    background-repeat: no-repeat;
    width: 450px;
    height: 289px;
    position: absolute;
    top: 20em;
    left: 41em;
    filter: drop-shadow(0px 8px 15px rgba(0, 0, 0, 0.3));
}
.postcard-inner{
    width: 175px;
    height: 215px;
    margin-left: 20px;
    margin-top: 12px;
    font-family: 'mkpop';
    padding: 2px;
}
.postcard-inner2{
     width: 175px;
    height: 50px;
    margin-left: 250px;
    margin-top: 100px;
    font-family: 'mkpop';
    padding: 2px;
}
.sticky{
    background-image: url('https://secretmmm.carrd.co/assets/images/image15.png?v=dc834922');
    background-size: cover;
    background-repeat: no-repeat;
    width: 250px;
    height: 250px;
    position: absolute;
    top: 6em;
    left: 20em;
    filter: drop-shadow(0px 8px 15px rgba(0, 0, 0, 0.3));
}
.sticky-inner{
    width: 175px;
    height: 157px;
    margin-left: 30px;
    margin-top: 30px;
    font-family: 'mkpop';
    padding: 2px;
}
.letter{
     background-image: url('https://secretmmm.carrd.co/assets/images/image16.png?v=bde7cd48');
    background-size: cover;
    background-repeat: no-repeat;
    width: 350px;
    height: 350px;
    position: absolute;
    top: 25.5em;
    left: 15em;
    filter: drop-shadow(0px 8px 15px rgba(0, 0, 0, 0.3));
}
.letter-inner{
     width: 180px;
    height: 130px;
    margin-left: 80px;
    margin-top: 94px;
    font-family: 'mkpop';
    padding: 2px;
}
.note{
     background-image: url('https://secretmmm.carrd.co/assets/images/image45.png?v=e2f47420');
    background-size: cover;
    background-repeat: no-repeat;
    width: 210px;
    height: 270px;
    position: absolute;
    top: 28em;
    left: 80.5em;
    filter: drop-shadow(0px 8px 15px rgba(0, 0, 0, 0.3));
}
.note-inner{
    width: 180px;
    height: 100px;
    margin-left: 45px;
    margin-top: 45px;
    font-family: 'mkpop';
    padding: 2px;
}
mark {
  background: none;
  color: #f8b8e5;
  font-family: willond;
  font-size: 1.5em;
  filter: drop-shadow(0px 1px black) drop-shadow(0 -1px black) drop-shadow(1px 0 black) drop-shadow(-1px 0 black);
}
@keyframes heart{
0%, 12%, 25%, 50% {
transform: rotate(0deg);
}
 
55% {
transform: rotate(-2.5deg);
}
 
65% {
transform: rotate(3.5deg);
}
 
75% {
transform: rotate(-7deg);
}
 
95%, 100% {
transform: rotate(0deg);
}
}
 
#image02{
animation: heart 1.5s ease infinite;
}
.name{
    position: absolute;
    top: 12em;
    left: 50em;
}   
#music-player {
            display: flex;
            align-items: center;
            justify-content: center;
        }
        #music-player {
            height: 2em;
            width: 2em;
            font-size: 1.5em;
            padding: 0.125em;
            border-radius: 50%;
            border: 3px dotted rgb(252, 121, 213);
            background: #f9b4de;
            position: absolute;
            top: 3em;
            left: 3em;
            z-index: 1200;
            -webkit-animation: spin 2s linear infinite;
            -webkit-animation: spin 4s linear infinite;
            -moz-animation: spin 4s linear infinite;
            animation: spin 4s linear infinite;
        }
        @-moz-keyframes spin {
            100% {
                -moz-transform: rotate(360deg);
            }
        }
        @-webkit-keyframes spin {
            100% {
                -webkit-transform: rotate(360deg);
            }
        }
        @keyframes spin {
            100% {
                -webkit-transform: rotate(360deg);
                transform: rotate(360deg);
            }
        }
        #music-player:hover {
        -webkit-animation: pop 0.3s ease;
    }
    ::selection {
background: #f7abcf;
color: #b94aa4;
}
html {
overflow: scroll;
overflow-x: hidden;
}
